<head>
    <meta charset="UTF-8">
    <title>Get-it</title>
    <link rel="stylesheet" href="static\templates\css\getit.css">
</head>
<body>
    <img src="static/img/logo-getit.png">
    <p>Como o Post-it, mas com outro verbo</p>
    <form action="/submit" method="POST">
        <label for="titulo">Titulo</label>
        <input id="titulo" type="text" name="titulo" />
        <label for="detalhes">Detalhes</label>
        <input id="detalhes" name="detalhes" />
        <input type="submit" />
    </form>
    <ul id="notes-list">
        {notes}
    </ul>
    <script src="static\templates\js\getit.js"></script>
</body>